@charset "UTF-8";
@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes slideUp {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}
#test {
  color: #333;
}
@media screen and (min-width: 768px) {
  #test {
    color: #fff;
  }
}
@media screen and (min-width: 1024px) {
  #test {
    color: #ff8a00;
  }
}

p, h1, h2, h3, h4, h5, h6, a, span {
  font-family: Noto Sans JP;
}

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.sitelogo {
  display: flex;
}
.sitelogo__txt {
  color: #ff8a00;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: normal;
  margin-left: 11px;
}
.sitelogo__txt h1 {
  font-size: 14px; /*IE9以前に対応する*/
  font-size: 0.875rem;
}
.sitelogo__txt h2 {
  font-size: 10px; /*IE9以前に対応する*/
  font-size: 0.625rem;
}

.header {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 60px;
  background: #fff;
}
@media screen and (min-width: 1024px) {
  .header {
    height: 100px;
  }
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 18px;
}
@media screen and (min-width: 1024px) {
  .header__container {
    height: 100%;
  }
}
.header__container.container {
  max-width: 1440px;
}

.hamburger {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 60px;
  border: 0;
  cursor: pointer;
  z-index: 9999;
}
@media screen and (min-width: 1024px) {
  .hamburger {
    display: none;
  }
}
.hamburger__line {
  position: relative;
  width: 20px;
  height: 1px;
  background-color: #333;
}
.hamburger__line::before, .hamburger__line::after {
  position: absolute;
  content: "";
  display: block;
  height: 1px;
  background-color: #333;
  width: 20px;
  transition: transform 0.3s;
}
.hamburger__line::before {
  top: -8px;
}
.hamburger__line::after {
  bottom: -8px;
}
.hamburger.active .hamburger__line {
  background: transparent;
}
.hamburger.active .hamburger__line::before {
  top: 0;
  transform: rotate(45deg);
}
.hamburger.active .hamburger__line::after {
  bottom: 0;
  transform: rotate(-45deg);
}

#hamburgerMenu {
  position: fixed;
  z-index: -1;
  opacity: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  transition: all 0.3s;
  background-color: #fff;
}
@media screen and (min-width: 1024px) {
  #hamburgerMenu {
    display: none;
  }
}
#hamburgerMenu.panelactive {
  opacity: 1;
  z-index: 999;
}
#hamburgerMenu.panelactive #hamburgerMenuList {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
#hamburgerMenu.panelactive ul {
  display: block;
}
#hamburgerMenu ul {
  display: none;
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
#hamburgerMenu li {
  list-style: none;
  text-align: center;
  margin: 30px 0;
}
#hamburgerMenu li:nth-child(4), #hamburgerMenu li:nth-child(5) {
  margin: 10px 0;
}
#hamburgerMenu li a:not(.btn) {
  color: #333;
  text-decoration: none;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.noScroll {
  overflow: hidden;
}

.globalMenu {
  display: none;
}
@media screen and (min-width: 1024px) {
  .globalMenu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
  }
}
.globalMenuList {
  display: flex;
  align-items: center;
}
.globalMenuList__item:nth-child(2), .globalMenuList__item:nth-child(3), .globalMenuList__item:nth-child(4) {
  margin-left: 29px;
}
.globalMenuList__item:nth-child(5) {
  margin-left: 12px;
}

.btn {
  text-align: center;
  border-radius: 30px;
  color: #fff;
  font-size: 13px;
  display: inline-block;
}
.btn__primary {
  background-color: #ff8a00;
  padding: 16px 32px 15px 31px;
}
.btn__secondary {
  background-color: #ffb800;
  padding: 16px 36px 15px 39px;
}

main .container {
  padding: 60px 0 30px;
}
@media screen and (min-width: 1024px) {
  main .container {
    padding: 100px 0 30px;
  }
}/*# sourceMappingURL=styles.css.map */