@charset "UTF-8";
@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes slideUp {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}
#test {
  color: #333;
}
@media screen and (min-width: 768px) {
  #test {
    color: #fff;
  }
}
@media screen and (min-width: 1024px) {
  #test {
    color: #ff8a00;
  }
}

p, h1, h2, h3, h4, h5, h6, a, span {
  font-family: Noto Sans JP;
}

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.sitelogo {
  display: flex;
}
.sitelogo__txt {
  color: #ff8a00;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: normal;
  margin-left: 11px;
}
.sitelogo__txt h1 {
  font-size: 14px; /*IE9以前に対応する*/
  font-size: 0.875rem;
}
.sitelogo__txt h2 {
  font-size: 10px; /*IE9以前に対応する*/
  font-size: 0.625rem;
}

.isSp {
  display: block;
}
@media screen and (min-width: 1024px) {
  .isSp {
    display: none;
  }
}
.isPc {
  display: none;
}
@media screen and (min-width: 1024px) {
  .isPc {
    display: block;
  }
}

.header {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 60px;
  background: #fff;
}
@media screen and (min-width: 1024px) {
  .header {
    height: 100px;
    position: absolute;
    width: 100%;
    background: none;
  }
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 18px;
}
@media screen and (min-width: 1024px) {
  .header__container {
    height: 100%;
  }
}
.header__container.container {
  max-width: 1440px;
}

#fixedHeader {
  position: fixed;
  top: -60px;
  width: 100%;
  height: 60px;
  transition: 0.5s;
  background: #fff;
  z-index: 1;
}
@media screen and (min-width: 1024px) {
  #fixedHeader {
    top: -100px;
    height: 100px;
  }
}
#fixedHeader.is-show {
  top: 0;
}

.hamburger__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 60px;
  border: 0;
  cursor: pointer;
  z-index: 9999;
}
@media screen and (min-width: 1024px) {
  .hamburger__btn {
    display: none;
  }
}
.hamburger__btn--line {
  position: relative;
  width: 20px;
  height: 1px;
  background-color: #333;
}
.hamburger__btn--line::before, .hamburger__btn--line::after {
  position: absolute;
  content: "";
  display: block;
  height: 1px;
  background-color: #333;
  width: 20px;
  transition: transform 0.3s;
}
.hamburger__btn--line::before {
  top: -8px;
}
.hamburger__btn--line::after {
  bottom: -8px;
}
.hamburger__btn.active .hamburger__btn--line {
  background: transparent;
}
.hamburger__btn.active .hamburger__btn--line::before {
  top: 0;
  transform: rotate(45deg);
}
.hamburger__btn.active .hamburger__btn--line::after {
  bottom: 0;
  transform: rotate(-45deg);
}
.hamburger__menu {
  position: fixed;
  z-index: -1;
  opacity: 0;
  top: 0;
  right: -120;
  height: 100vh;
  transition: all 0.3s;
  background-color: #fff;
}
@media screen and (min-width: 1024px) {
  .hamburger__menu {
    display: none;
  }
}
.hamburger__menu.panelactive {
  opacity: 1;
  z-index: 999;
  right: 0;
  width: 100%;
}
.hamburger__menu.panelactive #hamburgerMenuList {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.hamburger__menu.panelactive ul {
  display: block;
}
.hamburger__menu ul {
  display: none;
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.hamburger__menu li {
  list-style: none;
  text-align: center;
  margin: 30px 0;
}
.hamburger__menu li:nth-child(4), .hamburger__menu li:nth-child(5) {
  margin: 10px 0;
}
.hamburger__menu li a:not(.btn) {
  color: #333;
  text-decoration: none;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.noScroll {
  overflow: hidden;
}

.globalMenu {
  display: none;
}
@media screen and (min-width: 1024px) {
  .globalMenu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
  }
}
.globalMenuList {
  display: flex;
  align-items: center;
}
.globalMenuList__item:nth-child(2), .globalMenuList__item:nth-child(3), .globalMenuList__item:nth-child(4) {
  margin-left: 29px;
}
.globalMenuList__item:nth-child(5) {
  margin-left: 12px;
}

.btn {
  text-align: center;
  border-radius: 30px;
  color: #fff;
  font-size: 13px;
  display: inline-block;
}
.btn__primary {
  background-color: #ff8a00;
  padding: 16px 32px 15px 31px;
}
.btn__secondary {
  background-color: #ffb800;
  padding: 16px 36px 15px 39px;
}

.firstVisual {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 60px;
  margin-bottom: 50px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .firstVisual {
    margin-top: 100px;
    margin-bottom: 120px;
  }
}
.firstVisual__bg {
  position: absolute;
  z-index: -1;
  margin-top: -60px;
  margin-right: 15px;
  width: 316px;
  height: 522px;
  top: 145px;
  color: #fff;
  background: linear-gradient(180deg, #ff8a00 0%, #ffb800 99.98%);
}
@media screen and (min-width: 768px) {
  .firstVisual__bg {
    margin-top: -114px;
    margin-right: 0;
    width: 67.3%;
  }
}
@media screen and (min-width: 1024px) {
  .firstVisual__bg {
    top: 220px;
    height: 100%;
  }
}
.firstVisual__ttl {
  position: relative;
  font-size: 48px;
  font-weight: normal;
  line-height: 1.2;
}
@media screen and (min-width: 768px) {
  .firstVisual__ttl {
    font-size: 48px;
  }
}
.firstVisual__ttl br {
  display: block;
}
@media screen and (min-width: 768px) {
  .firstVisual__ttl br {
    display: none;
  }
}
.firstVisual__ttl::after {
  content: "";
  display: block;
  margin: 15px 0 15px -35px;
  border-top: 1px solid currentColor;
}
@media screen and (min-width: 768px) {
  .firstVisual__ttl::after {
    margin-left: -35px;
  }
}
.firstVisual__txt {
  line-height: 2;
}
.firstVisual__ph {
  margin-left: 60px;
}
@media screen and (min-width: 768px) {
  .firstVisual__ph {
    margin-left: 15%;
  }
}
.firstVisual__ph img {
  width: 100%;
}
.firstVisual__caption {
  position: absolute;
  bottom: 26px;
  left: 3%;
}
@media screen and (min-width: 768px) {
  .firstVisual__caption {
    left: 5%;
  }
}
@media screen and (min-width: 1024px) {
  .firstVisual__caption {
    left: 10%;
  }
}

.section__ttl--main {
  font-weight: 700;
  font-style: normal;
  line-height: normal;
  font-size: 40px; /*IE9以前に対応する*/
  font-size: 2.5rem;
}/*# sourceMappingURL=styles.css.map */