@use "modules/variables" as *;
@use "modules/mixin" as *;
@use "modules/keyframes" as *;

#test {
    color: $colorMain;

    @include tab {
        color: $colorSub;
    }

    @include pc {
        color: $colorThird;
    }
}

// --------------------------------------------
// 共通
// --------------------------------------------
p, h1, h2, h3, h4, h5, h6, a, span {
    font-family: Noto Sans JP;
    color: $colorMain;
}

.container {
    max-width: $maxWidthContainer;
    margin-left: auto;
    margin-right: auto;
    @include pc {
        max-width: $maxWidthContainerPc;
    }
}

.sitelogo {
    display: flex;

    &__txt {
        font-weight: $fontWeightBold;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        line-height: normal;
        margin-left: 11px;

        & h1,
        & h2 {
            color: $colorThird;
        }

        & h1 {
            @include rem(14);
        }
        & h2 {
            @include rem(10);
        }
    }
}

.is {
    &Sp {
        display: block;
        @include tab {
            display: none;
        }
    }

    &Tab {
        display: none;
        @include tab {
            display: block;
        }
    }

    &Pc {
        display: none;
        @include pc {
            display: block;
        }
    }
}


// --------------------------------------------
// ヘッダー
// --------------------------------------------
.header {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: $heightHeaderSp;
    background: $bgColorThird;
    // box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    @include pc {
        height: $heightHeaderPc;
        position: absolute;
        width: 100%;
        background: none;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px 0 18px;

        @include pc {
            height: 100%;
        }

        &.container {
            max-width: $maxWidthHeaderContainerPc;
        }
    }
}

#fixedHeader {
    position: fixed;
    top: calc(-1 * $heightHeaderSp);
    width: 100%;
    height: $heightHeaderSp;
    transition: .5s;
    background: $bgColorThird;
    z-index: 1;
    @include pc {
        top: calc(-1 * $heightHeaderPc);
        height: $heightHeaderPc;
    }

    &.is-show {
        top: 0;
    }
}

// ハンバーガーボタン
.hamburger {
    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: $heightHeaderSp;
        border: 0;
        cursor: pointer;
        z-index: 9999;
        @include pc {
            display: none;
        }
    
        &--line {
            position: relative;
            width: 20px;
            height: 1px;
            background-color: $colorMain;
            
            &::before, &::after {
                position: absolute;
                content: "";
                display: block;
                height: 1px;
                background-color: $colorMain;
                width: 20px;   
                transition: transform 0.3s;
            }
    
            &::before {
                top: -8px;
            }
    
            &::after {
                bottom: -8px;
            }
        }
    
        &.active {
            & .hamburger__btn--line {
                background: transparent;
    
                &::before {
                    top: 0;
                    transform: rotate(45deg);
                }
    
                &::after {
                    bottom: 0;
                    transform: rotate(-45deg);
                }
            }
        }    
    }

    &__menu {
        position:fixed;
        z-index: -1;
        opacity: 0;
        top:0;
        // right: 0;
        right: -120;
        height: 100vh;
        transition: all 0.3s;
        background-color: $bgColorThird;
        @include pc {
            display: none;
        }

        &.panelactive{
            opacity: 1;
            z-index:999;
            right: 0;
            width:100%;
    
            & #hamburgerMenuList {
                position: fixed;
                z-index: 999;
                width: 100%;
                height: 100vh;
                overflow: auto;
                -webkit-overflow-scrolling: touch;
            }
    
            & ul {
                display: block;
            }
        }
    
        & ul {
            display: none;
            position: absolute;
            z-index: 999;
            top:50%;
            left:50%;
            transform: translate(-50%,-50%);
            width: 100%;
        }
    
        & li {
            list-style: none;
            text-align: center; 
            margin: 30px 0;
            &:nth-child(4),
            &:nth-child(5) {
                margin: 10px 0;
            }
    
            & a:not(.btn) {
                color: $colorMain;
                text-decoration: none;
                display: block;
                text-transform: uppercase;
                letter-spacing: 0.1em;
            }
        }
    
    }
}

// ハンバーガーメニュー共通
.noScroll {
    overflow: hidden;
}

// グローバルメニュー
.globalMenu {
    display: none;
    @include pc {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 100%;
    }

    &List {
        display: flex;
        align-items: center;

        &__item {
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4) {
                margin-left: 29px;
            }
            &:nth-child(5) {
                margin-left: 12px;
            }
        }
    }
}  

// ボタン共通
.btn {
    text-align: center;
    border-radius: 30px;
    color: $colorSub;
    font-size: 13px;
    display: inline-block;

    &__primary {
        background-color: $bgColorMain;
        padding: 16px 32px 15px 31px;
    }

    &__secondary {
        background-color: $bgColorSub;
        padding: 16px 36px 15px 39px;
    }
}


// --------------------------------------------
// メインビジュアル
// --------------------------------------------
.firstVisual {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 60px;
    margin-bottom: 50px;
    position: relative;
    @include tab {
        margin-top: 100px;
        margin-bottom: 120px;
    }

    &__bg {
        position: absolute;
        z-index: -1;
        margin-top: -60px;
        margin-right: 15px;
        width: 316px;
        // height: 522px;
        height: 100%;
        top: calc($heightHeaderSp + 85px);
        color: #fff;
        background: linear-gradient(180deg, $bgColorMain 0%, $bgColorSub 99.98%);
        @include tab {
            margin-top: -114px;
            margin-right: 0;
            width: 67.3%;
        }
        @include pc {
            top: calc($heightHeaderPc + 120px);
            height: 100%;
        }
    }

    &__ttl {
        position: relative;
        font-size: 48px;
        font-weight: normal;
        line-height: 1.2;
        @include tab {
            font-size: 48px;
        }

        & br {
            display: block;
            @include tab {
                display: none;
            }
        }
        &::after {
            content: "";
            display: block;
            margin: 15px 0 15px -35px;
            border-top: 1px solid currentColor;
            @include tab {
                margin-left: -35px;
            }
        }
    }

    &__txt {
        line-height: 2;
    }

    &__ph {
        margin-left: 60px;
        @include tab {
            margin-left: 15%;
        }
        & img {
            width: 100%;
        }
    }

    &__caption {
        position: absolute;
        bottom: 26px;
        left: 3%;
        @include tab {
            left: 5%;
        }
        @include pc {
            left: 10%;
        }
    }
}


// --------------------------------------------
// メインコンテンツ
// --------------------------------------------
main {
    margin-top: 80px;
    & .container {
        // padding: calc($heightHeaderSp + 0px ) 0 30px;
        @include pc {
            // padding: calc($heightHeaderPc + 0px ) 0 30px;
        }    
    }
}

.section {
    padding-top: 128px;
    @include pc {
        padding-top: 78px 
    }

    &__ttl {
        &--main {
            // color: #333;
            font-weight: $fontWeightBold;
            font-style: normal;
            line-height: normal;
            text-align: center;
            @include rem(32);
            @include pc {
                @include rem(40);
            }
        }

        &--sub {
            text-align: center;
            margin-bottom: 9px;
        }
    }
}


// --------------------------------------------
// Mission & Vision
// --------------------------------------------
#MissonAndVision {
    background: url(/assets/image/mission-bg.png) no-repeat bottom;
}
.messages {
    padding: 61px 0 262px 0;
    @include pc{
        padding: 132px 0 262px 0;
    }
}
.message {
    &__ttl {
        &--main {
            margin: 25px 0;
            @include rem(24);
            font-weight: $fontWeightBold;
            line-height: 150%;
        }
        &--sub {

        }
    }

    &__txt {
        @include rem(16);
        line-height: 175%;
        @include pc {
            line-height: 250%;
        }
    }

    &:nth-child(2n+1) {
        text-align: start;
        margin-bottom: 111px;
    }
    &:nth-child(2n) {
        text-align: end;
    }
}


// --------------------------------------------
// 社長メッセージ
// --------------------------------------------
#CeoMessage {
    padding-top: 80px;
    & .section__container {
        background: url(/assets/image/seo-message-sp.png) no-repeat 100% top;
        position: relative;
        margin-top: 61px;

        @include tab {
            background: url(/assets/image/ceo-message.png) no-repeat 100% top;
            // background-position: 60%;
            background-position-x: 60%;
        }
        
        @include pc {
            margin-top: 0;
            height: 753px;
            padding: 23px 0 24px 0;
            background: url(/assets/image/ceo-message.png) no-repeat 100%;
        }
    }

    & .container {
        padding-top: 200px;
        @include pc {
            padding-top: 0;
        }
    }
}

.ceomessage {
    &__ttl {
        margin-bottom: 30px;
        @include rem(32);
        font-weight: 400;
        line-height: normal;
    }

    &__txt {
        
        @include rem(16);
        line-height: 230%;
        max-width: 550px;
    }
}

.ceoname {
    &__container {
        background-color: $colorSub;
        padding: 16px 26px 21px 26px;
        position: absolute;
        top: 50px;
        @include tab {
            // top: 100%;
            width: 298px;
        }
        @include pc {
            width: 298px;
            padding: 16px 0 21px 26px;
            right: 0;
            bottom: 53px;
            top: auto;
        }
    }
    &__txt {
        margin-bottom: 20px;
    }
}

// --------------------------------------------
// フッター
// --------------------------------------------
