@use "modules/variables" as *;
@use "modules/mixin" as *;
@use "modules/keyframes" as *;

#test {
    color: $colorMain;

    @include tab {
        color: $colorSub;
    }

    @include pc {
        color: $colorThird;
    }
}

// --------------------------------------------
// 共通
// --------------------------------------------
p, h1, h2, h3, h4, h5, h6, a, span {
    font-family: Noto Sans JP;
}

.container {
    max-width: $maxWidthContainer;
    margin-left: auto;
    margin-right: auto;
}

.sitelogo {
    display: flex;

    &__txt {
        color: $colorThird;
        font-weight: $fontWeightBold;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        line-height: normal;
        margin-left: 11px;

        & h1 {
            @include rem(14);
        }
        & h2 {
            @include rem(10);
        }
    }
}


// --------------------------------------------
// ヘッダー
// --------------------------------------------
.header {
    // background-color: $bgColorThird;
    height: $heightHeaderSp;
    @include pc {
        height: $heightHeaderPc;
    }

    &__container {
        padding: 12px 18px;
        @include pc {
            display: flex;
            align-content: center;
            justify-content: space-between;
            height: 100%;
        }
    }

    &__ttl {
        @include pc {
            display: flex;
            align-items: center;
        }
    }

    &__nav {
        width: 80%;
    }

    &--sticky {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        opacity: 1;
        visibility: visible;
        animation: slideDown 0.3s ease-in-out;
        background-color: $bgColorThird;
    }
}

// グローバルメニュー
.globalMenu {
    display: none;
    @include pc {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 100%;
    }

    &List {
        display: flex;
        align-items: center;

        &__item {
            margin-left: 30px;
        }
    }
}

// ハンバーガーボタン
#hamburgerBtn{
	position:fixed;
    z-index: 9999;
	top: 9px;
	right: 9px;
	cursor: pointer;
    width: 50px;
    height:50px;
    @include pc {
        display: none;
    }

    & span {
        display: inline-block;
        transition: all .4s;
        position: absolute;
        left: 14px;
        height: 1px;
        border-radius: 2px;
        background-color: $colorMain;
        width: 20px;   
        
        &:nth-of-type(1) {
            top:15px;	
        }
        &:nth-of-type(2) {
            top:21px;
        }
        &:nth-of-type(3) {
            top:27px;
        }
    }

    &.active {
        & span {
            &:nth-of-type(1) {
                top: 18px;
                left: 18px;
                transform: translateY(6px) rotate(-45deg);
                width: 30%;
            }
            &:nth-of-type(2) {
                opacity: 0;
            }
            &:nth-of-type(3){
                top: 30px;
                left: 18px;
                transform: translateY(-6px) rotate(45deg);
                width: 30%;
            }
        }
    }
}


// ハンバーガーメニュー
#hamburgerMenu {
    position:fixed;
	z-index: -1;
	opacity: 0;
    top:0;
    right: 0;
	width:100%;
    height: 100vh;
    transition: all 0.3s;
    background-color: $bgColorThird;
    @include pc {
        display: none;
    }

    &.panelactive{
        opacity: 1;
        z-index:999;

        & #hamburgerMenuList {
            position: fixed;
            z-index: 999;
            width: 100%;
            height: 100vh;
            overflow: auto;
            -webkit-overflow-scrolling: touch;
        }

        & ul {
            display: block;
        }
    }

    & ul {
        display: none;
        position: absolute;
        z-index: 999;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        width: 100%;
    }

    & li {
        list-style: none;
        text-align: center; 
        margin-bottom: 30px;
        &:nth-child(4) {
            margin-bottom: 10px;
        }

        & a:not(.btn) {
            color: $colorMain;
	        text-decoration: none;
	        display: block;
	        text-transform: uppercase;
	        letter-spacing: 0.1em;
        }
    }
}

// ボタン共通
.btn {
    text-align: center;
    border-radius: 30px;
    color: $colorSub;
    font-size: 13px;
    display: inline-block;

    &__primary {
        background-color: $bgColorMain;
        padding: 16px 32px 15px 31px;
    }

    &__secondary {
        background-color: $bgColorSub;
        padding: 16px 36px 15px 39px;
    }
}